<!DOCTYPE html>
<html>
<head>
  <!-- Include the Vue.js and Axios CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
  <div id="app">
    <h3 class="p-3 text-center">CAM Reports</h3>
    <table>
        <thead>
            <tr>
                <th>Reported Date</th>
                <th>Reported Prepared By</th>
                <th>Offer ID</th>
                <th>Report JSON</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="report in camreports" :key="report._id">
                <td>[[ report.reportedDate ]]</td>
                <td>[[ report.reportPreparedBy ]]</td>
                 <td>[[ report.OfferID ]]</td>
                <td>[[ report.reportJSON ]]</td>
            </tr>
        </tbody>
    </table>
</div>
  <script>
    // Create a new Vue instance

      const app = Vue.createApp({

        data() {
        return {
          camreports: [],
        }
        },

        delimiters : ['[[', ']]'],
      mounted() {
        // Fetch audit trail data from the Flask API
        axios.get('http://localhost:5000/jso/getCAMReports')
          .then((response) => {
            console.log('API Response:', JSON.parse(response.data.camreports));
            this.camreports = JSON.parse(response.data.camreports);
          })
          .catch((error) => {
            console.error('Error fetching customer data:', error);
          });
      },
      methods:{
      }
    });
    // Mount the Vue app to the element with id "app"
    app.mount('#app');
  </script>
</body>
</html>
