<!DOCTYPE html>
<html>
<head>
  <!-- Include the Vue.js and Axios CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <h3 class="p-3 text-center">Offers</h3>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Status</th>
                <th>Account</th>
                <th>Amount</th>
                <th>OTP</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="offer in offers" :key="offer.id">
                <td>[[ offer.Type ]]</td>
                <td>[[ offer.Status ]]</td>
                 <td>[[ offer.Account_ID ]]</td>
                <td>[[ offer.Amount ]]</td>
                <td>[[ offer.OTP ]]</td>
                <td><a href="#" @click="openDetails(offer._id)">View Details</a></td>
            </tr>
        </tbody>
    </table>
</div>
  <script>
    // Create a new Vue instance

      const app = Vue.createApp({

        data() {
        return {
          offers: [{"First_Name":"Tome"},{"First_Name":"Jomme"}],
        }
        },

        delimiters : ['[[', ']]'],
      mounted() {
        // Fetch customer data from the Flask API
        console.log("test1")
        axios.get('http://localhost:5000/jso/getOffers') // Replace with your API endpoint URL
          .then((response) => {
            console.log('API Response:', JSON.parse(response.data.offers));
            this.offers = JSON.parse(response.data.offers);
          })
          .catch((error) => {
            console.error('Error fetching customer data:', error);
          });
      },
      methods:{
        openDetails(customerID){
               //console.log(customerID)
               idObj=customerID;
               console.log(idObj);
               console.log(customerID.$oid)
               //console.log(idObj.$oid)
               window.location.href="/offerDetails?id="+customerID.$oid
        }
      }
    });
    // Mount the Vue app to the element with id "app"
    app.mount('#app');
  </script>
</body>
</html>
